<h1>Dashboard</h1>
<div class="card">
    <div class="card-heard">GIRASOL</div>
    <div class="card-body"> PONER TEXTOTE AQUÍ
        El girasol, es una de las plantas con flor más populares actualmente. Esta hermosa planta es originaria de América, específicamente del centro y el norte del continente, siendo México el principal productor. Además es una de las flores favoritas para la ornamentación de jardines y arreglos florales, ya que los girasoles también son unas de las más cultivadas para el sector de la alimentación.
        La característica más importante y por la que estas flores reciben su nombre, es su capacidad para seguir la ruta del sol, ya que giran en busca de la luz solar. El girasol tiene la capacidad de moverse y orientar sus hojas, sus tallos y sus flores hacia el sol de manera natural y a esto se le conoce como heliotropismo. Los girasoles buscan en todo momento la luz solar, por lo que pueden llegar a torcerse y moverse hasta que reciban la luz que necesitan.
    </div>
</div>
