<div class="container w-50 mt-3 rounded-4 ">
  <div class="row gx-3 align-items-stretch">
    <div class="col bg-white p-3 rounded-end">

      <h1 class="fw-bold text-center py-5">Cambiar Contraseña</h1>

      <img src="../../../assets/images/clave.png" class="img-responsive w-50  mx-auto d-block" alt="">
      <br>
      <form  [formGroup]=" frmContrasena" data-aos="fade-up" aria-required="true"
        (submit)="submit()">

        <div class="example-container ">

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ingrese su Contraseña Actual:</mat-label>
            <input id="##" matInput [type]="hide ? 'password' : 'text'" formControlName="PasswordAnterior">
            <mat-error *ngIf="frmContrasena.invalid">{{getErrorMessagePassword()}}</mat-error>
            <button type="button" style="border:none" mat-icon-button matSuffix (click)="hide = !hide"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ingrese su nueva contraseña:</mat-label>
            <input id="##" matInput [type]="hide2 ? 'password' : 'text'" formControlName="NewPassword">
            <mat-error *ngIf="frmContrasena.invalid">{{getErrorMessagePassword()}}</mat-error>
            <button type="button" style="border:none" mat-icon-button matSuffix (click)="hide2 = !hide2"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ingrese de nuevo su contraseña:</mat-label>
            <input id="##" matInput [type]="hide3 ? 'password' : 'text'" formControlName="AuxPassword">
            <mat-error *ngIf="frmContrasena.invalid">{{getPasswordConfirmationErrorMessage()}}</mat-error>
            <button type="button" style="border:none" mat-icon-button matSuffix (click)="hide3 = !hide3"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

          </mat-form-field>

        </div>
        <div class="btn-group mb-2" style="float:right;">
          <button class="btn btn-primary">
            <mat-icon>save</mat-icon>Guardar Datos
          </button>

        </div>

      </form>

    </div>


  </div>
</div>