<div class="container w-75 mt-5 rounded-4">
  <div class="row gx-5 align-items-stretch">
      <div class="col bg-white p-5 rounded-end">

          <h1 class="fw-bold text-center py-5">Cambio de contraseña</h1>
          <h2>Ingresa tu nueva contraseña para tu cuenta de Hi Plants AI©</h2>



<form aria-required="true" [formGroup]="frmRecuperarPassword" (ngSubmit)="submit()">


              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ingrese su nueva contraseña:</mat-label>
                <input matInput [type]="OcultaOjo ? 'password' : 'text'" formControlName="PasswordNueva">
                <mat-error *ngIf="frmRecuperarPassword.invalid">{{obtenerErrorPassword()}}</mat-error>
                <button type="button" style="border:none" mat-icon-button matSuffix (click)="OcultaOjo = !OcultaOjo"
                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="OcultaOjo">
                  <mat-icon>{{OcultaOjo ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <br>
              <div class="example-container">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Confirme su nueva contraseña:</mat-label>
                  <input autocomplete="on" matInput [type]="OcultaOjo2 ? 'password' : 'text'"
                    formControlName="PasswordAuxiliar">
                  <mat-error *ngIf="frmRecuperarPassword.invalid">{{obtenerErrorPassword2()}}</mat-error>
                  <button type="button" style="border:none" mat-icon-button matSuffix (click)="OcultaOjo2 = !OcultaOjo2"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="OcultaOjo2">
                    <mat-icon>{{OcultaOjo2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="text-center pt-3 mb-3 pb-3">
                <h3 *ngIf="frmRecuperarPassword.controls['password'].value!==frmRecuperarPassword.controls['password2'].value"
                  style="display: block;">Las contraseñas no coinciden</h3>
                <br>
                <button class="btn btn-success btn-block fa-lg" type="submit">Cambiar contraseña</button>
              </div>
            </form>
          </div>
          </div>
</div>
