<div class="wrapper">


  <div class="login">
    <img src="../../assets/icon.png" style="width: 150px;" alt="logo" />
    <h3>Hi Plants AI</h3>
    <h2>Inicia sesión</h2>

    <div class="container  w-75 mt-5 rounded-4">
      <form aria-required="true" [formGroup]="frmLogin" (ngSubmit)="submit()" class="example-form">

        <mat-form-field class="example-form">
          <input matInput placeholder="Correo electrónico" class="" formControlName="email" name="Correo">
          <mat-error *ngIf="frmLogin.invalid">{{(ObtenerErrorEmail())}}</mat-error>

        </mat-form-field>


        <div class="example-container">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ingrese su Contraseña:</mat-label>
            <input matInput [type]="OcultaOjo ? 'password' : 'text'" formControlName="password">
            <mat-error *ngIf="frmLogin.invalid">Ingrese su contraseña</mat-error>
            <button type="button" style="border:none" mat-icon-button matSuffix (click)="OcultaOjo = !OcultaOjo"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="OcultaOjo">
              <mat-icon>{{OcultaOjo ? 'visibility_off' : 'visibility'}}</mat-icon>

            </button>
          </mat-form-field>
        </div>

        <div class="text-center pt-1 mb-5 pb-1">
          <a routerLink="/recuperarcuenta" class="enlaces">¿Olvidaste tu Contraseña?</a>
         
          <button class="btn btn-success btn-block fa-lg" type="submit">Inicia sesión</button>

        </div>
      </form>
    </div>

  </div>
</div>