<h1>Gestion de {{Entidad}}</h1>
<div class="mat-elevation-z1" style="background:white;margin:0 auto;height: 80px;">
  <div class="example-container " style="font-size:16px" appearance="fill">
    <mat-form-field class="example-full-width" appearance="fill" style="width: 60%;float: left; margin: 10px;">
      <mat-label>Buscar a un {{EntidadSingular}}
      </mat-label>

      <input type="search" matInput placeholder="Ingrese una Palabra" (keyup)="applyFilter($event)" required>
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <div class="example-container " style="font-size:16px" appearance="fill">
      <button class="btn btn-primary" style="float:right;margin-top: 25px;" (click)="registrar()"> <mat-icon
          style="vertical-align:middle;">add</mat-icon>Registrar {{EntidadSingular}}</button>
      <br>
      <br>
    </div>

  </div>

    <table mat-table [dataSource]="fuenteDatos"  mat-table="auto" matSort >

      <ng-container *ngFor="let columna of columnasMostradas" matColumnDef="{{columna}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columna}} </th>
        <td mat-cell *matCellDef="let items">
          <ng-container *ngIf="columna !== 'acciones'; else accionesColumna">
            <ng-container *ngIf="columna === 'url_imagen'">
              <img [src]="this.Url+items[columna]" alt="Imagen" class="roundedImage">
            </ng-container>
            <ng-container *ngIf="columna !== 'url_imagen'">
              {{items[columna]}}
            </ng-container>
          </ng-container>
          <ng-template #accionesColumna>
            <div class="btn-group mb-2"  >
              <button  (click)="editar(items)" class="btn btn-warning btn-sm" >
                <mat-icon>edit</mat-icon> 
              </button>
              <button (click)="eliminar(items)" class="btn btn-danger btn-sm">
                <mat-icon>delete</mat-icon> 
              </button>
            </div>
          </ng-template>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="columnasMostradas"></tr>
      <tr mat-row *matRowDef="let element; columns: columnasMostradas"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10, 20,40]" showFirstLastButtons #paginator></mat-paginator>

