.map-container {
  height: 550px;
  /* Ajusta la altura según tus necesidades */
  padding-right: 25px;
}

.map-frame {
  border: 2px solid gainsboro;
  height: 100%;
}

#map {
  height: 100%;
}

.fixed {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
}