<div class="container p-0">
  <div class="row">


    <div class="col-md-7 col-xl-12">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="account" role="tabpanel">

          <div class="card">
            <div class="card-header">


              <h3 class="card-title mb-0">Informacion del Usuario {{this.DatosUsuario().nombres}}</h3>
            </div>
            <div class="card-body">
              <form data-aos="fade-up" aria-required="true" [formGroup]="frmDatosUsuario" (submit)="Submit()">
                <div class="row">
                  <div class="col-md-7 ">
                    <div class="form-group">
                      <mat-form-field appearance="fill">

                        <mat-label>Ingrese su Correo</mat-label>
                        <span matSuffix>
                          <mat-icon>email</mat-icon>
                        </span>
                        <input type="email" formControlName="Correo" matInput placeholder="Correo@correo.com"
                          class="example-full-width" required>
                        <mat-error *ngIf="frmDatosUsuario.invalid"> Ingrese un Correo
                          Valido</mat-error>
                      </mat-form-field>
                    </div>
                    <h2>Datos Personales</h2>
                    <mat-form-field appearance="fill">

                      <mat-label>Nombre(s)</mat-label>
                      <span matSuffix>
                        <mat-icon>people</mat-icon>
                      </span>
                      <input type="text" formControlName="Nombres" class="example-full-width" matInput
                        placeholder="Pito" required>
                      <mat-error *ngIf="frmDatosUsuario.invalid">Ingrese su Nombre</mat-error>
                      <br>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Apellido Paterno</mat-label>
                      <input type="text" formControlName="ApellidoPaterno" class="example-full-width" matInput
                        placeholder="Perez" required>
                      <mat-error *ngIf="frmDatosUsuario.invalid">Ingrese su Apellido
                        Paterno</mat-error>
                      <br>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <mat-label>Apellido Materno</mat-label>
                      <input type="text" formControlName="ApellidoMaterno" class="example-full-width" matInput
                        placeholder="Peraza">
                      <mat-error *ngIf="frmDatosUsuario.invalid"> Ingrese su Apellido
                        Materno</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field>
                      <mat-label>Genero</mat-label>
                      <span matSuffix>
                        <mat-icon>wc</mat-icon>
                      </span>
                      <mat-select formControlName="Genero">
                        <mat-option matInput *ngFor="let genero of ArrayGeneros()" [value]=genero.id_genero>
                          {{genero.descripcion}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                      <span matSuffix>
                        <mat-icon>date_range</mat-icon>
                      </span>
                      <mat-label>Fecha de Nacimiento:</mat-label>

                      <input type="date" formControlName="FechaNacimiento" class="example-full-width" matInput>
                      <mat-error *ngIf="frmDatosUsuario.invalid"> Ingrese su Fecha de
                        Nacimiento</mat-error>
                    </mat-form-field>
                    <hr>
                    <h2>Domicilio</h2>
                    <mat-form-field appearance="fill">
                      <mat-label>C.P</mat-label>
                      <input type="text" matInput formControlName="CP" (keyup)="BuscarCP($event)">

                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Asentamiento</mat-label>
                      <mat-select formControlName="Asentamiento">

                        <mat-option *ngFor="let asentamiento of ArrayAsentamientos();"
                          [value]="asentamiento.id_asenta_cpcons">
                          {{asentamiento.d_asenta}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>


                    <mat-form-field appearance="fill">
                      <span matSuffix>
                        <mat-icon>map</mat-icon>
                      </span>
                      <mat-label>Direccion:</mat-label>
                      <textarea formControlName="Direccion" matInput></textarea>
                      <mat-error *ngIf="frmDatosUsuario.invalid"> Ingrese su Direccion</mat-error>
                    </mat-form-field>
                    


                  </div>
                  <div class="col-md-4">
                    <div class="text-center">
                      <img loading="lazy" *ngIf="imgURL" [src]="imgURL" accept="image/*" alt=""
                        class="rounded-circle img-responsive mt-2" width="200" height="200">
                      <div class="mt-3">
                        <br>
                        <input #file id="seleccionArchivos" type="file" (change)="preview(file.files)" required>
                        <mat-error>{{this.message}}</mat-error>


                      </div>

                    </div>
                  </div>
                </div>
                <button class="btn btn-primary">
                  <mat-icon>save</mat-icon>Guardar Datos
                </button>
                <button class="btn btn-danger" (click)="LimpiarCampos()">
                  <mat-icon>delete</mat-icon>Limpiar Datos
                </button>
              </form>

            </div>
          </div>


        </div>

      </div>
    </div>
  </div>

</div>