

  
<div class="container w-75 mt-5 rounded-4 shadow gris" id="login">
  <a href="/login" class="btn"><mat-icon>keyboard_backspace</mat-icon></a>
  <div class="row gx-5 align-items-stretch">
      <div class="col bg-white p-5 rounded-end">
          
          <h1 class="fw-bold text-center py-5">¿Usted Olvido su Contraseña?</h1>
          
          <h3>Recibirás un correo electrónico donde se te darán indicaciones para recuperar tu cuenta de Hi Plants AI ©</h3>


          
          <form class="example-form" aria-required="true" [formGroup]="frmRecuperar" (ngSubmit)="submit()">
              <mat-form-field class="example-full-width" appearance="fill">
                  <span matSuffix>
                    <mat-icon>email</mat-icon>
                    <button class="btn" id="btnEnviar" ><mat-icon>send</mat-icon> </button>
                  
                </span>
                  <mat-label>Ingrese su Correo:</mat-label>
                  <input autocomplete="off" type="email" formControlName="Correo" name="Correo" matInput
                    placeholder="Correo@correo.com" required="">
                
                      <mat-error *ngIf="frmRecuperar.invalid">Ingrese su Correo Electronico!</mat-error> 
                  
                  </mat-form-field>
                 
      
             
                </form>

        
      </div>

      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
        
              <img src="../../../assets/forgot.png" class="img-responsive w-100" alt="">
       
      </div>
  </div>
</div>
  